<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>RegistrationForm_v8 by Colorlib</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="~/css/login/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="icon" type="image/x-icon" href="~/dressdummy_118416.ico" />

</head>

<body class="bg-dark">

	<div class="wrapper">
		<div class="image-holder">
			<img src="~/images/registration-form-8.jpg" alt="">
		</div>
		<div class="form-inner">
		@RenderBody()
		</div>

	</div>
	<script src="https://kit.fontawesome.com/4f14ff03c0.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
	<script src="~/js/login/jquery-3.3.1.min.js"></script>
	<script src="~/js/login/jquery.form-validator.min.js"></script>
	<script src="~/js/login/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>