<main>
    <h2>Hakkımızda</h2>
    <p>Hoş geldiniz! Biz, Boutique ekibi olarak, çeşitli lezzetli çerezleri sizlere sunmanın heyecanını yaşıyoruz. Müşterilerimizin mutluluğu ve damak tadı bizim için her şeyden önce gelmektedir.</p>

    <h3>Misyonumuz</h3>
    <p>Misyonumuz, en kaliteli ve yeni sezon ürünlerini kullanıcılarımız ile buluşturmak ve müşterilerimize tatlı anlar yaşatmaktır.Müşteri memnuniyeti, çalışmalarımızın merkezinde yer almaktadır.</p>

    <h3>Zorunlu Çerezler ve Gizlilik</h3>
    <p>Çerez Dükkanı olarak, web sitemizi daha etkin bir şekilde çalıştırmak ve ziyaretçilerimize daha iyi bir deneyim sunmak amacıyla bazı zorunlu çerezler kullanmaktayız. Bu çerezler, web sitesinin temel fonksiyonları için gereklidir ve kullanıcıların web sitesini gezinmesini ve temel özelliklerini kullanmasını sağlar.</p>
    <p>Bu zorunlu çerezler, kullanıcıların tercihlerini hatırlamak, oturum açma bilgilerini saklamak ve güvenliği sağlamak gibi işlevleri yerine getirir. Ayrıca, sayfa içi etkileşimlerinizi ve gezinme alışkanlıklarınızı anlamamıza yardımcı olurlar. Bu çerezler kişisel bilgilerinizi toplamazlar ve ziyaretiniz sona erdikten sonra otomatik olarak silinirler.</p>
    <p>Kulallanıcı <span>Giriş Bilgileri , Ip Bilgileri gibi bilgiler tutulmaktadır.</span></p>
    <p>Siteye giriş yaparak bunları kabul etmiş olursunuz.</p>
    <h3>İletişim</h3>
    <p>Eğer bizimle iletişime geçmek veya herhangi bir sorunuz varsa, lütfen <a href="mailto:boutiqueecommarce@gmail.com">boutiqueecommarce@gmail.com</a> adresine e-posta göndermekten çekinmeyin. Müşteri destek ekibimiz, size en kısa sürede yardımcı olmak için burada.</p>
</main>

<footer>
    <p>Tüm hakları saklıdır &copy; 2023 Boutique</p>
</footer>

    @section Scripts{
        <script>
        document.querySelector(".active").classList.remove("active");
        document.getElementById("about").classList.add("active");
        </script>
    }